.card-popup__close
	position absolute
	right 16px
	top 16px
	width 20px
	height 20px
	cursor pointer
	&:hover
		opacity .6
	&:before, &:after
		content ''
		display inline-block
		position absolute
		width 20px
		border-top 1px solid #000
		left 0
		top 10px
	&:before
		transform rotate(45deg)
	&:after
		transform rotate(-45deg)