.card-image__caption
	position absolute
	left 0
	bottom 0
	padding 16px
	color #fff
	font-size 26px
	// font-weight bold
	/* Times New Roman-based serif */
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif